
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 15px;
    background: red;
}

@mixin mQry($breackpoint) {
    @media screen and (max-width:$breackpoint) {
        @content;
    }
}

@mixin centerBtwn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin centerStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin centerEnd {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin centerCtr {
    display: flex;
    align-items: center;
    justify-content: center;
}