@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
}

// ------------------------BREACKPOINTS__________
$tablette_1200 : 1200px;
$tablette_900 : 900px;
$tablette_700 : 700px;
$mobile_600 : 600px;
$mobile_500 : 500px;
$mobile_400 : 400px;



$firstbreakpointMOBILE: 645px;

@mixin mQry($breackpoint) {
    @media screen and (max-width:$breackpoint) {
        @content;
    }
}

@mixin centerInline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin centerStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin centerAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerArround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promo-title {
    font-style: italic;
    font-family: "Averia Serif Libre", serif;
}

.padding-inline {
    @media screen and (min-width: 320px) {
        padding-inline: 1.5em;
    }

    @media screen and (min-width: 640px) {
        padding-inline: 3em;
    }

    @media screen and (min-width: 1280px) {
        padding-inline: 6em;
    }
}

$space: 1em;

.space-in {
    padding-block: $space;
}

.space-out {
    padding-block: calc($space / 2);
}

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 2px;
        background: #F1F1F1 !important;

        &.active {
            background: #ffff !important;
        }
    }
}

@keyframes toptobottom {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    10% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

.scroll_anim {
    bottom: 0;

    svg {
        margin-top: 5px;
        animation: toptobottom 2s infinite ease-in-out;
    }
}


.navbar {
    background: no-repeat center/cover url("/assets/images/backgrounds/bg-navbar.png");
}

.icon-size {
    width: 24px;
}

.icon-navbar {
    path {
        stroke: #ffff;
    }
}

.icon-container {
    position: relative;
    cursor: pointer;

    .bullet {
        background-color: #F5E7D8;
        color: #CC9B6A;
        position: absolute;
        top: -10px;
        right: -10px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: .8em;
    }
}

@keyframes skeletonloadingO {
    0% {
        background-color: #f7e2cc;
    }

    50% {
        background-color: #f6e0c8;
    }

    90% {
        background-color: #f9d6b0;
    }

    100% {
        background-color: #f7e2cc;
    }
}

@keyframes skeletonloadingG {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.skeleton {
    background-size: 200% 100%;
    background-position: -100%;
    animation: skeletonloadingO 1.5s infinite linear;
}

.nobar-scroll {
    scrollbar-width: none;
}

.skeleton-gray {
    display: inline-block;
    background-size: 200% 100%;
    background-position: -100%;
    animation: skeletonloadingG 1.5s infinite linear;
}

.skeleton-text {
    width: 100%;
    height: 1em;
}

.section-categorie,
.section-type {
    @extend .nobar-scroll
}

.titre-separation {
    font-family: "Bad Script", cursive;
}

.scetion_scroll{
    position: relative;

    @media screen and (max-width: 1024px) {
        padding-right: 0px !important;    
    }

    // @media screen and (min-width: 1024px) {   
    //     &::after,&::before{
    //         content: "";
    //         display: block;
    //         height: 100%;
    //         width: 10vw;
    //         position: absolute;
    //         right: 0;
    //         top: 0;
    //         background: linear-gradient(90deg, rgba(237,216,252,0) 0%, rgba(255,255,255,1) 50%);
    //         z-index: 1;
    //     }
    //     &::before{
    //         left: 0;
    //         background: linear-gradient(-90deg, rgba(237,216,252,0) 0%, rgba(255,255,255,1) 45%);
    //     }
    // }
}

.owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    padding-inline: 1em;
    justify-content: space-between;
    button{
        width: 40px;
        height: 40px;
        background: #fff !important;
        border-radius: 50%;
        color: #CC9B6A !important;
        font-size: 2em !important;
        text-align: center;
        line-height: 40px !important;
        box-shadow: 0 0 5px 2px #CC9B6A;
    }
}

.card-produit-img-container {
    .call-action {
        transition: .3s all;
        cursor: pointer;

        &:hover {
            background-color: #fff !important;

            .icon-navbar {
                path {
                    stroke: #CC9B6A !important;
                }
            }
        }
    }

    .card-produit-call-action-container {
        margin-top: 2em;
        opacity: 0;
        transition: .3s;
    }

    &:hover {
        .card-produit-call-action-container {
            margin-top: 0;
            opacity: 1;
        }
    }
}

button:active {
    filter: brightness(.9);
}